%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX", root_path
  - if current_user
    %ul.col-md-4.clearfix
      %li= link_to "Videos", home_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path
    = form_tag(search_videos_path, method: 'get', class: 'col-md-5 navbar-form') do
      .form-group
        = text_field_tag :search_term,nil, class: 'form-control', placeholder: "Search for videos here"
        = button_tag(type: 'submit', class: 'form-control btn btn-default') do
          %span.glyphicon.glyphicon-search
          Search

    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            ="Welcome, #{User.find(session[:user_id]).full_name}"
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to invite_path do
                %span.glyphicon.glyphicon-envelope
                Invite a friend
              = link_to account_path do
                %span.glyphicon.glyphicon-user
                Account
              = link_to billing_path do
                %span.glyphicon.glyphicon-credit-card
                Plan and Billing
              = link_to sign_out_path do
                %span.glyphicon.glyphicon-off
                Logout
            - if current_user.admin?
              %li.divider
              %li
                = link_to new_admin_video_path do
                  %span.glyphicon.glyphicon-eye-open
                  Admin Console
                